h4{

	margin-bottom: 2% !important;
	font-weight: bold;
}

li{

	margin-left: 5% !important; 
}

.container{

	padding: 5% !important;
	font-size: 1.2em;
}

#div{

	position: absolute;
	padding: .5%;	
	margin-left: 20%;
	opacity: 70%;
	text-align: center;
	background: #1a1a1a;
}

pre, a{

margin: 5px !important;
padding: 1%; 	
}

.na{
	color: rgb(161, 193, 228) !important;
}

.na:hover{
	color: rgb(79, 178, 255) !important;
	font-weight: bold !important;
}

.a:hover{
	color: purple;
}